/* .request-page {
    text-align: center;
  } */
  
  /* .page-header {
    padding: 20px;
    background-color: #333;
    color: white;
  } */
  
  /* .page-title {
    margin: 0;
    font-size: 36px;
  } */
  
  /* .request-categories {
    display: flex;
    justify-content: space-around;
  } */
  
  .category-title {
    font-size: 24px;
  }